<div class="container">

<p id="notice"><%= notice %></p>

<h1 class="center">Live ICOs</h1>

<h6 class=center><%= link_to "Disclaimer", disclaimer_index_path %></h6>

<div class="row">
  <div class="col s12">
    <table class="highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>Valuation</th>
          </tr>
        </thead>
        <tbody>
          <% @icos.each do |ico| %>
            <tr>
              <td width="50%">
                <%= image_tag((ico.logo_img), class: 'circle responsive-img', height: '16', width: '16') %> <%= link_to ico.name, ico %> </br> <%= link_to ico.meta_description, ico %>
              </td>
              <td>
                <%= link_to ico.ICO_start_date.strftime("%B" + " " + "%e"), ico %> to <%= link_to ico.ICO_end_date.strftime("%B" + " " + "%e"), ico %>
              </td>
              <td>
                <%= link_to ico.ICO_valuation_low, ico %> - <%= link_to ico.ICO_valuation_high, ico %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<br>

<% if policy(Ico.new).create? %>
  <%= link_to 'New Ico', new_ico_path %>
<% end %>
</div>