<div class="parallax-container home-height center valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 white-text">
        <h1><b>ICO Modeling</b></h1>
        <h3>Coin price isn't everything, <b><u>valuation</u></b> is</h3>
      </div>
    </div>
  </div>
  
  <div class="parallax">
    <img src="https://d1udjo59ytjrp6.cloudfront.net/img/uploads/2016/12/12155730/Block-CDN.jpg">
  </div>

</div>

<div class="container">

<p id="notice"><%= notice %></p>

<h2 class="center">Live ICOs</h2>
<h6 class=center><%= link_to "Disclaimer", disclaimer_index_path %></h6>

<div class="row">
  <div class="col s12">
    <table class="highlight">
        <thead>
          <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>Valuation</th>
          </tr>
        </thead>
        <tbody>
          <% @icos.each do |ico| %>
            <tr>
              <td width="50%">
                <%= link_to (image_tag((ico.logo_img), class: 'circle responsive-img', height: '16', width: '16')), ico %> <%= link_to ico.name, ico %>
                </br><%= link_to ico.overview, ico %>
              </td>
              <td>
                <%= link_to ico.ICO_start_date.strftime("%B" + " " + "%e"), ico %> to <%= link_to ico.ICO_end_date.strftime("%B" + " " + "%e"), ico %>
              </td>
              <td>
                <%= link_to ico.ICO_valuation_low, ico %> - <%= link_to ico.ICO_valuation_high, ico %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<br>

<% if policy(Ico.new).create? %>
  <%= link_to 'New Ico', new_ico_path %>
<% end %>
</div>