<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ico.name %>
</p>

<p>
  <strong>Logo img:</strong>
  <%= @ico.logo_img %>
</p>

<p>
  <strong>Logo img alt:</strong>
  <%= @ico.logo_img_alt %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @ico.overview %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @ico.meta_description %>
</p>

<p>
  <strong>Header img:</strong>
  <%= @ico.header_img %>
</p>

<p>
  <strong>Header img alt:</strong>
  <%= @ico.header_img_alt %>
</p>

<p>
  <strong>Website:</strong>
  <%= @ico.website %>
</p>

<p>
  <strong>Report date:</strong>
  <%= @ico.report_date %>
</p>

<p>
  <strong>Team:</strong>
  <%= @ico.team %>
</p>

<p>
  <strong>Advisors:</strong>
  <%= @ico.advisors %>
</p>

<p>
  <strong>Codebase:</strong>
  <%= @ico.codebase %>
</p>

<p>
  <strong>Community:</strong>
  <%= @ico.community %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @ico.vision %>
</p>

<p>
  <strong>Market:</strong>
  <%= @ico.market %>
</p>

<p>
  <strong>Traction:</strong>
  <%= @ico.traction %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @ico.marketing %>
</p>

<p>
  <strong>Whitepaper:</strong>
  <%= @ico.whitepaper %>
</p>

<p>
  <strong>Roadmap:</strong>
  <%= @ico.roadmap %>
</p>

<p>
  <strong>Ico currency:</strong>
  <%= @ico.ico_currency %>
</p>

<p>
  <strong>Ico currency price:</strong>
  <%= @ico.ico_currency_price %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @ico.symbol %>
</p>

<p>
  <strong>Total supply:</strong>
  <%= @ico.total_supply %>
</p>

<p>
  <strong>Token price low:</strong>
  <%= @ico.token_price_low %>
</p>

<p>
  <strong>Token price high:</strong>
  <%= @ico.token_price_high %>
</p>

<p>
  <strong>Ico valuation low:</strong>
  <%= @ico.ICO_valuation_low %>
</p>

<p>
  <strong>Ico valuation high:</strong>
  <%= @ico.ICO_valuation_high %>
</p>

<p>
  <strong>Ico start date:</strong>
  <%= @ico.ICO_start_date %>
</p>

<p>
  <strong>Ico end date:</strong>
  <%= @ico.ICO_end_date %>
</p>

<p>
  <strong>Soft cap:</strong>
  <%= @ico.soft_cap %>
</p>

<p>
  <strong>Hard cap:</strong>
  <%= @ico.hard_cap %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ico.country %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @ico.youtube %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @ico.twitter %>
</p>

<p>
  <strong>Telegram:</strong>
  <%= @ico.telegram %>
</p>

<p>
  <strong>Reddit:</strong>
  <%= @ico.reddit %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @ico.facebook %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @ico.youtube %>
</p>

<p>
  <strong>Github:</strong>
  <%= @ico.github %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ico.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @ico.active %>
</p>

<%= link_to 'Edit', edit_ico_path(@ico) %> |
<%= link_to 'Destroy', @ico, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', icos_path %>
