<%= render 'layouts/header' %>

<div class='container'>
  <p id="notice"><%= notice %></p>
  <h1 class='center'><%= image_tag((@ico.logo_img), class: 'circle responsive-img', height: '48', width: '48') %><%= @ico.name %></h1>
  <h4 class='center'>ICO Valuation: $4m - $8m</h4>
  <h5 class='center'><%= @ico.ICO_start_date.strftime("%B" + " " + "%e") %> to <%= @ico.ICO_end_date.strftime("%B" + " " + "%e") %></h5>
  <div class='center'><%= link_to @ico.name + " token sale", @ico.website, class: 'waves-effect waves-light btn' %></div>
  <h6 class=center><%= link_to "Disclaimer", disclaimer_index_path %></h6>
  </br>
  <i>Ratings on a 1-10 scale, 1 being the lowest and 10 being the highest</i>
</div>

<div class="parallax-container">
  <div class="row">
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Team</b></span>
          <span class="card-title"><b><%= @ico.team %></b></span>
        </div>
      </div>
    </div>

    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Advisors</b></span>
          <span class="card-title"><b><%= @ico.advisors %></b></span>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Vision</b></span>
          <span class="card-title"><b><%= @ico.vision %></b></span>
        </div>
      </div>
    </div>
        <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Hype</b></span>
          <span class="card-title"><b><%= @ico.hype %></b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Whitepaper</b></span>
          <span class="card-title"><b><%= @ico.whitepaper %></b></span>
        </div>
      </div>
    </div>

    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Community</b></span>
          <span class="card-title"><b><%= @ico.community %></b></span>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Traction</b></span>
          <span class="card-title"><b><%= @ico.traction %></b></span>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Roadmap</b></span>
          <span class="card-title"><b><%= @ico.roadmap %></b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Marketing</b></span>
          <span class="card-title"><b><%= @ico.marketing %></b></span>
        </div>
      </div>
    </div>

    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Pro Investors</b></span>
          <span class="card-title"><b><%= @ico.investors %></b></span>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Codebase</b></span>
          <span class="card-title"><b><%= @ico.codebase %></b></span>
        </div>
      </div>
    </div>
    <div class="col m3">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Industry</b></span>
          <span class="card-title"><b><%= @ico.market %></b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag (@ico.header_img) %>
  </div>
</div>

<div class='container'>
  <h2><%= @ico.name %> Overview</h2>
  <p><%= @ico.description %></p>
  
  <% if @ico.video? %>
    <div class="video-container">
      <iframe width="853" height="480" src="<%= @ico.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>  
  </br>
  
  <div class='row'>
    <% if @ico.twitter? %>
      <div class="col s1">
        <div><%= link_to image_tag(('https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-twitter-512.png'), class: 'circle responsive-img', height: '24', width: '24'), @ico.twitter, alt: @ico.name + " Twitter page", target: :_blank %></div>
      </div>
    <% end %>
    <% if @ico.telegram? %>
      <div class="col s1">
        <div><%= link_to image_tag(('https://image.flaticon.com/icons/png/512/355/355977.png'), class: 'circle responsive-img', height: '24', width: '24'), @ico.telegram, alt: @ico.name + " Telegram group", target: :_blank %></div>
      </div>
    <% end %>
    <% if @ico.facebook? %>
      <div class="col s1">
        <div><%= link_to image_tag(('http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png'), class: 'circle responsive-img', height: '24', width: '24'), @ico.facebook, alt: @ico.name + " Facebook page", target: :_blank %></div>
      </div>
    <% end %>
    <% if @ico.youtube? %>
      <div class="col s1">
        <div><%= link_to image_tag(('http://www.iconarchive.com/download/i98467/dakirby309/simply-styled/YouTube.ico'), class: 'circle responsive-img', height: '24', width: '24'), @ico.facebook, alt: @ico.name + " Facebook page", target: :_blank %></div>
      </div>
    <% end %>
    <% if @ico.reddit? %>
      <div class="col s1">  
        <div><%= link_to image_tag(('https://cdn.worldvectorlogo.com/logos/reddit-2.svg'), class: 'circle responsive-img', height: '24', width: '24'), @ico.reddit, alt: @ico.name + " subreddit", target: :_blank %></div>
      </div>
    <% end %>
    <% if @ico.github? %>
      <div class="col s1">
        <div><%= link_to image_tag(('https://image.flaticon.com/icons/svg/25/25231.svg'), class: 'circle responsive-img', height: '24', width: '24'), @ico.github, alt: @ico.name + " GitHub page", target: :_blank %></div>
      </div>  
    <% end %>
  </div>
</div>
<div class="parallax-container">
  <div class='row'>
    <div class="col m6">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Currency(s) accepted:</b></span>
          <span class="card-title"><b><%= @ico.ico_currency %></b></span>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b><%= @ico.ico_currency %> price: $<%= @ico.ico_currency_price %></b></span>
          <span class="card-title"><b>on <%= @ico.report_date.strftime("%B" + " " + "%e" + " %Y") %></b></span>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col m4">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Symbol:</b></span>
          <span class="card-title"><b><%= @ico.symbol %></b></span>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Total coin supply:</b></span>
          <span class="card-title"><b><%= @ico.total_supply %></b></span>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Country:</b></span>
          <span class="card-title"><b><%= @ico.country %></b></span>
        </div>
      </div>
    </div>
  </div>  
  <div class='row'>
    <div class="col m6">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Coin price range:</b></span>
          <span class="card-title"><b><%= @ico.token_price_low %> - <%= @ico.token_price_high %></b></span>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card blue darken-4 opacity center">
        <div class="card-content white-text">
          <span class="card-title"><b>Soft - Hard Cap:</b></span>
          <span class="card-title"><b>
              <% if @ico.soft_cap? %>
                <%= @ico.soft_cap %> 
              <% else %>
                ?? 
              <% end %>
              - <%= @ico.hard_cap %>
            </b></span>
        </div>
      </div>
    </div>
  </div> 
  <div class="parallax">
    <%= image_tag (@ico.header_img) %>
  </div>
</div>
<div class='container'>
  
  <h2><%= @ico.name %> Analysis</h2>
  <div><%= raw @ico.body %></div>
</div>

<% if policy(@ico).edit? %>
  <%= link_to 'Edit', edit_ico_path(@ico) %> |
<% end %>

<% if policy(@ico).destroy? %> 
  <%= link_to 'Destroy', @ico, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 