<!DOCTYPE html>
<html>
  
  <%= favicon_link_tag 'network.ico' %>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= yield(:meta_description) %>" />
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33171346-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-33171346-8');
  </script>

</head>
<body>
  <!--<%= render 'layouts/header' %>-->
  <%= yield %>
  
</body>
</html>
